# DATA PREPROCESSING

##### First thing we did was replacing every nan values. As the data is sampled per minute, we replaced every missing minute by the mean value of that minute of the day. 
##### Then, we grouped Date and Time in one variable DataTime to use it as a DateTime index. That way, we can resample our data in other time frame : per hour, per day, per week, per month...
##### We saved this cleaned dataset as dataset-treated.csv

In [4]:
import pandas as pd
import numpy as np
import datetime
import math

In [10]:
#!wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip"
#!unzip household_power_consumption.zip
#!rm household_power_consumption.zip

In [5]:
df = pd.read_csv("household_power_consumption.txt", sep=';', header=0, low_memory=False, infer_datetime_format=True, parse_dates={'DateTime':[0,1]}, index_col=['DateTime'],na_values = '?', dtype = float)

In [6]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
DateTime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [7]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00,1.298520e+00,6.458447e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00,5.822026e+00,8.437154e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01

##### First thing we did was grouping Date and Time in one variable DataTime to use it as a DateTime index. That way, we can resample our data in other time frame : per hour, per day, per week, per month...

##### Then we replaced every nan values. As the data is sampled per minute, we replaced every missing minute by the mean value of that minute of the day. 
##### ex: 2006-12-21 11:23:00

In [8]:
avg_per_minute = pd.DataFrame(df.groupby([df.index.hour, df.index.minute]).mean())

dates = df.index.tolist()
columns = df.columns.tolist()
list_df = df.values.tolist()

for i in range(len(list_df)):
    for c in range(len(columns)):
        if(math.isnan(list_df[i][c])):
            list_df[i][c] = avg_per_minute[columns[c]][dates[i].hour, dates[i].minute]

In [11]:
df = pd.DataFrame(list_df, columns=columns, index=dates)
df.index.name = "DateTime"

In [12]:
print(df.isnull().sum())

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
dtypes: float64(7)
memory usage: 126.7 MB

In [14]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
DateTime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

Preprocessing finished, saving to csv

##### We saved this cleaned dataset as dataset-treated.csv

In [15]:
df.to_csv("dataset_traite.csv", sep=",", index=True)

##### Last but not least, we used Web scrapping to retrieve data online to add a temperature variable in our dataset, as we had the following hypothethis : As electric consumption seems to be seasonal, as well as the temperature, they should be correlated  (positively or negatively, but more probably negatively). We managed to retrieve daily min and max temperatures from info-climat.fr, from 2006 to 2010. The data comes from a weather station in Paris, which is not so far from Sceaux, where the household that serves as the source of this dataset is.

In [2]:
import get_temp_2006_to_2010
get_temp_2006_to_2010.generate_temp_data()

downloading data of 2006 ...
downloading data of 2007 ...
downloading data of 2008 ...
downloading data of 2009 ...
downloading data of 2010 ...
download complete !

In [5]:
df_temperatures = pd.read_csv("temperatures.csv")
print(df_temperatures.head())
df_newdatecol =[]
prev_date =''

for i in range(len(df_temperatures['Date'])):
    if df_temperatures['Date'][i] == prev_date:
        new_date = datetime.datetime.strptime(df_temperatures['Date'][i], "%Y-%m-%d")
        new_date += datetime.timedelta(days=1)
        df_newdatecol.append(new_date.strftime("%Y-%m-%d"))
        prev_date = new_date.strftime("%Y-%m-%d")
    else:
        prev_date = df_temperatures['Date'][i]
        df_newdatecol.append(df_temperatures['Date'][i])

df_temperatures["Date"] = df_newdatecol
df_temperatures.set_index('Date')

         Date  min_t  max_t
0  2006-01-02    3.0    7.6
1  2006-01-03    3.9    6.8
2  2006-01-04    4.5    6.9
3  2006-01-05    1.8    4.3
4  2006-01-06   -0.2    1.5

            min_t  max_t
Date
2006-01-02    3.0    7.6
2006-01-03    3.9    6.8
2006-01-04    4.5    6.9
2006-01-05    1.8    4.3
2006-01-06   -0.2    1.5
...           ...    ...
2010-12-28   -2.3    0.4
2010-12-29   -1.4    3.4
2010-12-30    2.5    7.0
2010-12-31    1.9    5.1
2011-01-01    0.6    1.9

[1826 rows x 2 columns]

##### We saved this temperature dataset as temperatures.csv

In [6]:
df_temperatures.to_csv("temperatures.csv", sep=",", index=False)