In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#!wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip"
#!unzip household_power_consumption.zip
#!rm household_power_consumption.zip

--2021-12-05 22:12:22--  https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20640916 (20M) [application/x-httpd-php]
Saving to: ‘household_power_consumption.zip’

household_power_con 100%[===================>]  19.68M  7.43MB/s    in 2.7s

2021-12-05 22:12:25 (7.43 MB/s) - ‘household_power_consumption.zip’ saved [20640916/20640916]

Archive:  household_power_consumption.zip
  inflating: household_power_consumption.txt

In [3]:
df = pd.read_csv("household_power_consumption.txt", sep=';', header=0, low_memory=False, infer_datetime_format=True, parse_dates={'DateTime':[0,1]}, index_col=['DateTime'],na_values = '?', dtype = float)

In [4]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
dtypes: float64(7)
memory usage: 126.7 MB

Converting '?' values to NaN

In [5]:
for columns in df.iloc[:, 0:]:
  df[columns].fillna(value = df[columns].mean(), inplace = True)
pass
df.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [6]:
print(df.isna().sum().sum())

0

Dropping NaNs

Merging 'Date' and 'Time' columns into one Datetime type column

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2075259 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
dtypes: float64(7)
memory usage: 126.7 MB

In [8]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
DateTime,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

Preprocessing finished, saving to csv

In [9]:
df.to_csv("dataset_traite.csv", sep=",", index=True)

In [4]:
df_temperatures = pd.read_csv("temperatures.csv")
print(df_temperatures.head())
df_newdatecol =[]
prev_date =''

for i in range(len(df_temperatures['Date'])):
    if df_temperatures['Date'][i] == prev_date:
        new_date = datetime.datetime.strptime(df_temperatures['Date'][i], "%Y-%m-%d")
        new_date += datetime.timedelta(days=1)
        df_newdatecol = new_date.strftime("%Y-%m-%d")
        prev_date = new_date.strftime("%Y-%m-%d")
    else:
        prev_date = df_temperatures['Date'][i]
        df_newdatecol = df_temperatures['Date'][i]
        
df_temperatures["Date"] = df_newdatecol
df_temperatures.to_csv("temperatures.csv", sep=",", index=True)

         Date  min_t  max_t
0  2006-01-02    3.0    7.6
1  2006-01-03    3.9    6.8
2  2006-01-04    4.5    6.9
3  2006-01-05    1.8    4.3
4  2006-01-06   -0.2    1.5