In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#!wget "https://archive.ics.uci.edu/ml/machine-learning-databases/00235/household_power_consumption.zip"
#!unzip household_power_consumption.zip
#!rm household_power_consumption.zip

In [3]:
df = pd.read_csv("household_power_consumption.txt", sep=';')

/home/ubuntu/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()
# df.info()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

Converting '?' values to NaN

In [5]:
df=df.replace('?',np.nan)

In [6]:
for j in range(2,9):
    print(j)
    df.iloc[:,j]=df.iloc[:,j].fillna(df.iloc[:,j].astype('float64').mean())

2
3
4
5
6
7
8

In [7]:
print(df.isna().sum().sum())

0

In [8]:
#df = df.fillna(df.mean())

Dropping NaNs

In [17]:
print(df.isna().sum().sum())
df = df.dropna(axis='rows')
print(df.isna().sum().sum())

0
0

Merging 'Date' and 'Time' columns into one Datetime type column

In [10]:
df["DateTime"] = pd.to_datetime(df["Date"] + ' ' + df["Time"])

In [11]:
df.to_csv("dataset_merged_datetime.csv", sep=",", index=False)

In [12]:
#If the above processing is already done, import the result with the following line :
df = pd.read_csv("dataset_merged_datetime.csv", sep=",")

In [13]:
df = df.drop(columns=['Date', 'Time'])

#rearange columns order
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1] #putting the last col ('Datetime') at first position
df = df[cols]

In [14]:
df['DateTime'] = df['DateTime'].astype(np.datetime64)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   DateTime               datetime64[ns]
 1   Global_active_power    float64
 2   Global_reactive_power  float64
 3   Voltage                float64
 4   Global_intensity       float64
 5   Sub_metering_1         float64
 6   Sub_metering_2         float64
 7   Sub_metering_3         float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 126.7 MB

Preprocessing finished, saving to csv

In [16]:
df.to_csv("dataset_traite.csv", sep=",", index=False)